<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File"
			name="all"
			fileName="${basedir}/logs/all.log"
		/>

		<target xsi:type="File"
			name="error"
			fileName="${basedir}/logs/error.log"
		/>

		<target xsi:type="ToolStripItem"
			name="status"
			formName="MainForm"
			toolStripName="UIStatusBar"
			itemName="UIStatusLbl"
			layout="${message}"
		/>

		<target
			xsi:type="RichTextBox"
			name="richTextBox"
			formName="MainForm"
			controlName="UIRTBLog"
			useDefaultRowColoringRules="true"
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="all" />
		<logger name="*" minlevel="Trace" writeTo="richTextBox" />
		<logger name="*" minlevel="Info" writeTo="status" />
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>
